<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kiwi.dbproject.mapper.TeacherMapper">
    <resultMap id="teacherBO" type="com.kiwi.dbproject.bo.TeacherBO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="number" property="number"/>
        <result column="position_name" property="positionName"/>
        <result column="department_name" property="departmentName"/>
        <result column="title_name" property="titleName"/>
        <result column="position_id" property="position"/>
        <result column="title_id" property="title"/>
        <result column="department" property="department"/>
        <result column="age" property="age"/>
        <result column="mobile" property="mobile"/>
        <result column="gender" property="gender"/>
    </resultMap>

    <select id="queryTeacherById" resultMap="teacherBO" parameterType="int">
        select
        *,
        p.name as position_name,
        d.name as department_name,
        title.name as title_name
        from teacher t
        left join position p
        on t.position_id = p.id
        left join department d
        on t.department_id = d.id
        left join title title
        on t.title_id = title.id
        where t.id = #{id}
    </select>

    <select id="login" resultMap="teacherBO" parameterType="string">
        select
        *,
        p.name as position_name,
        d.name as department_name,
        title.name as title_name
        from teacher t
        left join position p
        on t.position_id = p.id
        left join department d
        on t.department_id = d.id
        left join title title
        on t.title_id = title.id
        where t.number = #{number} and t.password = #{password}
    </select>
</mapper>
