<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>项目验收</title>
    <link href="style/base.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body style="display: flex; flex-direction: column">
<div class="header-panel">
    <h1>科研项目管理系统</h1>
    <div id="app" style="position: absolute;right: 100px;font-size: 20px" >
        <a href="user.html" style="text-decoration: none" v-if="login">{{userInfo.name}}</a>
        <a href="login.html" style="text-decoration: none" v-else>登录</a>
    </div>
</div>
<div style="width: 100%; display: flex;flex-direction: row;">
    <div style="width: 300px;height: 800px; border-right: solid; padding: 20px">
        <div class="operation-panel">
            <a href="index.html">首页</a>
        </div>
        <div class="operation-panel">
            <a href="user.html">我的信息</a>
        </div>
        <div class="operation-panel">
            <a href="project.html">我的项目</a>
        </div>
        <div class="operation-panel">
            <a href="approval.html">审核项目</a>
        </div>
        <div class="operation-panel" style="background: gray">
            <a href="check.html">验收项目</a>
        </div>
    </div>
    <div id="main" style="width: 100%; padding: 20px">
        <div v-if="login">
            <div v-if="userInfo.checkPermission" style="display: flex; justify-content: center; align-items: center; flex-direction: column">
                <table v-for="p in projects" style="width: 800px;margin: 50px; border: solid"  border="1">
                    <tr>
                        <td>项目名称:</td>
                        <td>{{p.name}}</td>
                        <td>预算:</td>
                        <td>{{p.budget}}</td>
                    </tr>
                    <tr>
                        <td>项目状态:</td>
                        <td>{{p.status}}</td>
                        <td>项目编号:</td>
                        <td>{{p.number}}</td>
                    </tr>
                    <tr>
                        <td>开始时间:</td>
                        <td>{{p.startTime}}</td>
                        <td>结束时间:</td>
                        <td>{{p.endTime}}</td>
                    </tr>
                    <tr>
                        <td>审核状态:</td>
                        <td>{{p.approval}}</td>
                        <td>审核原因:</td>
                        <td>{{p.approvalReason}}</td>
                    </tr>
                    <tr>
                        <td>审核人:</td>
                        <td>{{p.approvalUserName}}</td>
                        <td>附件:</td>
                        <td>
                            <a v-bind:href="'http://localhost:8080/file?id='+p.fileID">{{p.fileName}}</a>
                        </td>
                    </tr>
                    <tr>
                        <td>项目介绍:</td>
                        <td colspan="3">{{p.description}}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">
                            <a v-bind:href="'http://localhost:8080/project/check/pass?id='+p.id">验收通过</a>
                        </td>
                        <td colspan="2" style="text-align: center">
                            <a v-bind:href="'http://localhost:8080/project/check/refuse?id='+p.id">验收不通过通过</a>
                        </td>
                    </tr>
                </table>
            </div>
            <div v-else>
                <h1>没有验收权限</h1>
            </div>
        </div>
        <div v-else>
            <h1>
                请先登录
            </h1>
        </div>
    </div>
</div>
</body>
<script src="js/base.js"></script>
<script>
    var main = new Vue({
        el:"#main",
        data:data,
        methods:{
            getProjects:function () {
                console.log("XXXX");
                axios.get("/project/check")
                    .then(function (value) {
                        this.main.projects = value.data;
                    })
                    .catch(function (reason) {
                        console.log(reason)
                    })
            }
        }
    });
    function initPage() {
        console.log("init");
        vm.getUserInfo(function () {
        });
        main.getProjects();
    }
    window.onload = this.initPage();
</script>
</html>